{% extends "classifier.html" %}

{% block message %}
    {% if classification_label == True %}
    <div style="background:lightgreen !important" class="jumbotron">
        <h4 class="text-center"><b>Farmer REACHES a Living income</b></h4>
        <p class="text-center"><b>with a chance of <i>{{classification_prob}}%</i></b></p>
    </div>
    {% else %}
    <div style="background:red !important" class="jumbotron">
        <h4 class="text-center"><b>Farmer DOES NOT reach a Living income</b></h4>
        <p class="text-center"><b>The chance is of reaching is <i>{{classification_prob}}%</i></b></p>
    </div>
    {% endif %}
{% endblock %}
